/* General Reset */
/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form_container {
    background: linear-gradient(190deg, rgb(183, 158, 177),#8b8cbc);
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 400px;
    padding: 20px;
    transition: transform 0.2s ease-in-out;
}

.form_container:hover {
    transform: translateY(-5px);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-field {
    position: relative;
    margin-bottom: 20px;
}

.form-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.form-field input:focus {
    border-color: #007bff;
    outline: none;
}

.form-field i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 14px;
    color: #999;
    transition: 0.2s;
}

.form-field input:focus+.label,
.form-field input:not(:placeholder-shown)+.label {
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #007bff;
}

.show_password {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.show_password input {
    margin-right: 10px;
}

.form-forget {
    text-align: right;
    margin-bottom: 20px;
}

.Login_button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Login_button:hover {
    background-color: #0056b3;
}

.signup-link {
    text-align: center;
    margin-top: 20px;
}

.signup-link p {
    color: #555;
}

.signup-link button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
}

.signup-link button:hover {
    text-decoration: underline;
}